{% extends 'base.html.twig' %}

{% block title %}Liste des Films{% endblock %}

{% block content %}
    <div class="header-container">
        <h1 class="page-title"> A propos de We movies </h1>
        {% include 'movies/search_bar.html.twig' %}
   </div>
    <div class="row">
        <div class="col-md-3 genres-container">
            <h2>Genres</h2>
            <form id="genre-form">
                <ul>
                    {% for genre in genres %}
                        <li>
                            <input type="checkbox" class="genre-checkbox" value="{{ genre.id }}" id="genre-{{ genre.id }}">
                            <label for="genre-{{ genre.id }}">{{ genre.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>

        <div class="col-md-8">
            <div id="movies-list" class="row">
                {# Movies will be displayed here dynamically #}
            </div>
        </div>
    </div>
    </div>

 <!-- The Popup Modal -->
   <div id="popup-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-title">Title of movie</h2>
        <p id="modal-description">Description of movie</p>
        <p id="modal-stars">stars du film</p>
       
            <iframe id="modal-video" width="100%" height="315" src="" frameborder="0" allowfullscreen></iframe>
      
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('movies') }}
{% endblock %}

